.banner {
  background-image: linear-gradient(45deg, black, transparent),
    url("/banner.jpg");

  background-size: 100% 95%;
  background-repeat: no-repeat;
  height: 700px;
  .banner_left {
    padding-right: 20%;
  }
  .banner_left span[title="comu"] {
    font-size: 16px;
    font-weight: 600;
    color: rgba(185, 188, 185, 0.671);
    cursor: pointer;
    width: fit-content;
  }
  .banner_left span:hover {
    color: white;
  }
  .banner_left h2 {
    font-size: 42px;
  }
  .banner_right {
    width: 100%;
    height: 100%;
    position: relative;
    .box {
      width: 250px;
      height: 220px;
      border: 15px solid #ff4669;
      position: absolute;
      bottom: 100px;
      right: 0;
      transform: scale(1);
      transition: 800ms;
    }
    .box:hover {
      transform: scale(1.1);
      transition: 800ms;
    }
  }
}
.latest_story {
  .story_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    .story_card {
      cursor: pointer;
      transition: 400ms;
    }
    .story_card a {
      bottom: 17px;
      background-color: #000000;

      color: white;
      padding: 5px 10px;
      font-size: 14px;
    }
    .story_card:hover a {
      background-color: #ff4669;
    }
    .story_card img[title="bookmark"] {
      position: absolute;
      top: 10px;
      right: 12px;
      display: none;
    }
    .story_card img[title="card-image"] {
      transition: 400ms;
    }
    .story_card img[title="heart"] {
      position: absolute;
      top: 40px;
      right: 10px;
      display: none;
    }
    .story_card:hover img[title="card-image"] {
      opacity: 0.5;
      transition: 400ms;
    }
    .story_card:hover {
      backdrop-filter: invert(1);
    }
    .story_card:hover img[title="heart"],
    .story_card:hover img[title="bookmark"] {
      display: block;
      opacity: 1;
    }
  }
}
.popular_story {
  .popularStory_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    .popularStory_card {
      cursor: pointer;
      transition: 400ms;
    }
    .popularStory_card a {
      bottom: 20px;
      background-color: #000000;
      width: 80%;
      color: white;
      padding: 5px 10px;
      font-size: 14px;
    }
    .popularStory_card:hover a {
      background-color: #ff4669;
    }
    .popularStory_card img[title="heart"] {
      position: absolute;
      top: 40px;
      right: 10px;
      display: none;
    }
    .popularStory_card img[title="bookmark"] {
      position: absolute;
      top: 10px;
      right: 12px;
      display: none;
    }
    .popularStory_card:hover img[title="card-image"] {
      opacity: 0.5;
      transition: 400ms;
    }
    .popularStory_card:hover {
      /* backdrop-filter: invert(1); */
      background-color: white;
    }
    .popularStory_card:hover img[title="heart"],
    .popularStory_card:hover img[title="bookmark"] {
      display: block;
      opacity: 1;
    }
    .popularStory_card .play_button {
      position: absolute;
      bottom: 40px;
      right: 10px;
      display: none;
    }
    .popularStory_card:hover .play_button {
      display: block;
    }
  }
}
.natural_story {
  .naturalStory_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    .naturalStory_card {
      cursor: pointer;
      transition: 400ms;
    }
    .naturalStory_card a {
      bottom: 20px;
      background-color: #000000;
      width: 80%;
      color: white;
      padding: 5px 10px;
      font-size: 14px;
    }
    .naturalStory_card:hover a {
      background-color: #ff4669;
    }
    .naturalStory_card img[title="heart"] {
      position: absolute;
      top: 40px;
      right: 10px;
      display: none;
    }
    .naturalStory_card img[title="bookmark"] {
      position: absolute;
      top: 10px;
      right: 12px;
      display: none;
    }
    .naturalStory_card:hover img[title="card-image"] {
      opacity: 0.5;
      transition: 400ms;
    }
    .naturalStory_card:hover {
      /* backdrop-filter: invert(1); */
      background-color: white;
    }
    .naturalStory_card:hover img[title="heart"],
    .naturalStory_card:hover img[title="bookmark"] {
      display: block;
      opacity: 1;
    }
    .naturalStory_card .play_button {
      position: absolute;
      bottom: 33px;
      right: 10px;
      display: none;
    }
    .naturalStory_card:hover .play_button {
      display: block;
    }
  }
}
.dark_Section {
  background-color: black;
  color: white;
  .dark_SectionGrid {
    margin: 40px 0;
    border: 8px solid #ff4669;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 40px;
    .dark_rightSection span {
      font-size: 28px;
      text-transform: uppercase;
      margin-right: 15px;
      color: #ff4669;
      cursor: pointer;
    }
    .dark_rightSection span:hover {
      color: white;
    }
  }
  .dark_SectionGrid h3 {
    font-weight: 300;
    margin-bottom: 15px;
  }
}
.places_story {
  .placesStory_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    .placesStory_card {
      cursor: pointer;
      transition: 400ms;
    }
    .placesStory_card a {
      bottom: 20px;
      background-color: #000000;
      width: 80%;
      color: white;
      padding: 5px 10px;
      font-size: 14px;
    }
    .placesStory_card:hover a {
      background-color: #ff4669;
    }
    .placesStory_card img[title="heart"] {
      position: absolute;
      top: 40px;
      right: 10px;
      display: none;
    }
    .placesStory_card img[title="bookmark"] {
      position: absolute;
      top: 10px;
      right: 12px;
      display: none;
    }
    .placesStory_card:hover img[title="card-image"] {
      opacity: 0.5;
      transition: 400ms;
    }
    .placesStory_card:hover {
      backdrop-filter: invert(1);
      /* background-color: white; */
    }
    .placesStory_card:hover img[title="heart"],
    .placesStory_card:hover img[title="bookmark"] {
      display: block;
      opacity: 1;
    }
    .placesStory_card .play_button {
      position: absolute;
      bottom: 33px;
      right: 10px;
      display: none;
    }
    .placesStory_card:hover .play_button {
      display: block;
    }
  }
}
.people_story {
  .peopleStory_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    .peopleStory_card {
      cursor: pointer;
      transition: 400ms;
    }
    .peopleStory_card a {
      bottom: 20px;
      background-color: #000000;
      width: 80%;
      color: white;
      padding: 5px 10px;
      font-size: 14px;
    }
    .peopleStory_card:hover a {
      background-color: #ff4669;
    }
    .peopleStory_card img[title="heart"] {
      position: absolute;
      top: 40px;
      right: 10px;
      display: none;
    }
    .peopleStory_card img[title="bookmark"] {
      position: absolute;
      top: 10px;
      right: 12px;
      display: none;
    }
    .peopleStory_card:hover img[title="card-image"] {
      opacity: 0.5;
      transition: 400ms;
    }
    .peopleStory_card:hover {
      backdrop-filter: invert(1);
      /* background-color: white; */
    }
    .peopleStory_card:hover img[title="heart"],
    .peopleStory_card:hover img[title="bookmark"] {
      display: block;
      opacity: 1;
    }
    .peopleStory_card .play_button {
      position: absolute;
      bottom: 33px;
      right: 10px;
      display: none;
    }
    .peopleStory_card:hover .play_button {
      display: block;
    }
  }
}
.form_Section {
  background-color: #ff4669;
  margin-top: 5%;
  color: white;
  padding: 50px;
  .formHeading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .formHeading h3 {
    font-size: 44px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .formHeading h3 strong {
    margin-right: 10px;
  }
}
.form_Section input {
  width: 26%;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  border: 0;
  margin-right: 10px;
  outline: 0;
  border-radius: 5px;
}
.form_Section button {
  background-color: black !important;
  color: white;
  border: 0;
  padding: 12px 30px !important;
}
.quoteSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  color: white;
  padding: 5% 10%;
  margin-top: 4%;
  .quotePart {
    background: url("/quoteLeft.svg");
    background-repeat: no-repeat;
  }
  .quotePart p {
    padding-left: 10%;
    font-size: 38px;
    line-height: 1;
  }
  .quotePart .author {
    font-size: 16px;
    color: #a2a1a1;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .author span[title="bar"] {
    width: 20px;
    height: 1px;

    display: block;
    background: #a2a1a1;
  }
}
